

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
     font-family: 'Montserrat', sans-serif;
 }


/*header*/

.main-header nav li a {
    line-height: 41px;

}

.main-header nav .navbar-brand {
    height: auto;
}

.main-header nav button {
    float: right;
}

.button {

}

/**content**/
.hero {
    background: url("../img/bg-welcome.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 10px 500px;
}



.button {
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: #ffffff;

}
.revolutionary {
    text-align: center;
}

.button.big {
    display: inline-block;
    position: relative;
    top: -25px;
    padding: 10px 20px;
    font-size: 21px;

}











